<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :report_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :report_longitude %>
  </div>

  <div class="field">
    <%= form.label :accuracy %>
    <%= form.text_field :accuracy, id: :report_accuracy %>
  </div>

  <div class="field">
    <%= form.label :flags %>
    <%= form.text_field :flags, id: :report_flags %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :time, id: :report_time %>
  </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :report_description %>
    </div>


    <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
