<p id="notice"><%= notice %></p>

<p>
  <strong>Współrzędne:</strong>
  <%= @report.latitude %> / <%= @report.longitude %>
</p>

<p>
  <strong>Dokładność:</strong>
  <%= @report.accuracy %>
</p>

<p>
  <strong>Flagi:</strong>
  <%= @report.flags %>
</p>

<p>
  <strong>Czas:</strong>
  <%= @report.time %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @report.description %>
</p>


<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
